html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
html,body{height:100%;width:100%;overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif; color:#444;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,th {font-weight:normal; font-style:normal; font-family:Arial, Helvetica, sans-serif; color:#fff;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none; outline:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}

.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane, .tundra .dijitBorderContainer, .tundra .dijitSplitterV, .tundra .dijitGutterV, .tundra .dijitSplitContainer-child, .tundra .dijitBorderContainer-child{
    background:none;
	padding:0;
	border:none;
}

a{
    color:#000;
}

#mainWindow{
    position:absolute;
	top:0px;
	height:100%;
	width:100%;
}

#banner{
    width:100%;
    height:115px;
    background-color:#d81e05;
}

#headerArea{
    height:115px;
	padding:20px 25px 0px 25px;
}

#iucnLogo{
	height:100%;
	width:110px;
}

#iucnLogoImg{
	height:75px;
}

#title{
    font-weight:bold;
    font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
    padding-bottom:10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
}

#subtitle{
	color:#fff;
    overflow: hidden;
}

#logoArea{
	width:150px !important;
	overflow:hidden;
}

#social,#logo{
	float:right;
}

#social{
	padding-bottom:20px;
}

#smLink{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:0.82em;
	text-decoration:none;
	outline:none;
}

#smLink:hover{
	text-decoration:underline;
}

#sidePanel{
    height:100%;
    width:300px;
}

#topPanel{
	width:100%;
	height:400px;
	padding:25px 25px 0 25px;
    font-size:15px;
}

#speciesList{
	padding:0 25px 25px 25px;
	color:#848484;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.speciesItem{
	font-weight:bold;
	padding:3px 0 3px 0;
}

.speciesItem:hover{
	color:#000;
	cursor:pointer;
}

.selectedItem{
    color:#000;
}

.arrow{
    display:none;
    position:absolute;
    width: 0;
    height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #d81e05;
    margin-left:10px;
    margin-top:-2px;
}

#speciesHeader{
	border-top:1px solid #d81e05;
	margin-top:25px;
	padding-top:5px;
	color:#d81e05;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

#hoverInfo{
    position:absolute;
    background:#fff;
    z-index:100;
    font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
    font-weight:bold;
    cursor:pointer;
}

#hoverInfoPointer{
    display:none;
    position:absolute;
    width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #fff;
    z-index:100;
}

#speciesName{
    padding:5px;
    max-width:80px;
}

#arrowCon{
    padding:5px;
}

#speciesThmb{
    height:70px;
    width:93px;
}

#closeButton{
    position:absolute;
    top:2px;
    right:3px;
}

#popupArrow{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #d81e05;
}

#thumbnailCon{
    padding:5px;
}

#selectorCon{
	height:120px;
	width:100%;
}

#selector{
	width:95%;
	margin:auto;
	margin-top:20px;
	text-align:center;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	cursor:pointer;
}

.sc{
	padding:5px 10px 5px 10px;
}

.greyScheme{
	background-color:#848484;
	color:#fff;
	border-top:1px solid #848484;
	border-bottom:1px solid #848484;
	border-right:3px solid;
}

.blackScheme{
	background-color:#000;
	color:#fff;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

.whiteScheme{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

#selectorImg{
	position:absolute;
	background:url(../images/slider.png) ;
	width:140px;
	height:140px;
	bottom:10px;
	text-align:center;
	vertical-align:middle;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bolder;
	font-size:13px;
	z-index:20;
	cursor:move;
}

#selAbr{
	position:absolute;
}

#selectedText{
	padding:22px;
}

#shadowDiv{
	position:absolute;
	height:100%;
	left:-10px;
	width:10px;
	-moz-box-shadow: 5px 0px 20px 5px #666;
	-webkit-box-shadow: 5px 0px 20px 5px #666;
	box-shadow: 5px 0px 20px 5px #666;
	filter: progid: DXImageTransform.Microsoft.Shadow(strength = 5, direction = 90, color = '#666');
	-ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 90, Color = '#666')";
	z-index:20;
}

#modalBackground{
    display:none;
    position:absolute;
    background-color:#000;
    height:100%;
    width:100%;
    top:0;
    z-index:1000;
}

#speciesPanel{
    display:none;
    position:absolute;
    background-color:#fff;
    top:10%;
    left:10%;
    height:80%;
    width:80%;
    padding:15px;
    font-size:14px;
    z-index:1001;
}

#speciesContent{
    width:400px;
    float:left;
}

.speciesImg{
    display:none;
    width:400px;
}

.commonName{
    display:none;
    position:absolute;
    background-color:#fff;
    width:300px;
    padding:5px;
    color:#f00;
    font-weight:bold;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    margin:-33px 0 0 25px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

#speciesMap{
    float:right;
}

.listingText{
    margin-left:30px;
    width:300px;
    border-top:1px solid #d81e05;
    padding:2px 0 2px 0;
}

.lsText{
    color:#848484;
}

.sciName{
    display:none;
    margin-top:15px;
}

.statusText{
    display:none;
    border-bottom:1px solid #d81e05;
}

.speciesDescription{
    display:none;
    position:absolute;
    padding:0 10px 0 30px;
    width:355px;
    overflow:auto;
}

.moreInfo{
    display:none;
    position:absolute;
    color:#d81e05;
    left:45px;
    font-size:12px;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
}

.moreInfo:hover{
    text-decoration:underline;
}

.nextArrow{
    display:none;
    display:none;
    position:absolute;
    width: 0;
    height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #d81e05;
    cursor:pointer;
}

.prevArrow{
    display:none;
    display:none;
    position:absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #d81e05;
    cursor:pointer;
}

.map{
    height:100%;
    width:100%;
}

.preloadImg{
    display:none;
}